@font-face {
    font-family: 'The Legend of Zelda NES';
    src: url('The-Legend-of-Zelda-NES.woff2') format('woff2'),
        url('The-Legend-of-Zelda-NES.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

